<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/joblistStyles2.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">SMART JOBS</a>
          </div>
          <img src="../images/vj.jpg" alt="" />
    </div>
  </nav>
  <section>
    <div class="container">
      <h2>10 jobs with 90% match</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,:</p>
    </div>


    <div class="col-sm-3 col-md-6">

    <div class="w3-container">
    <div class="w3-card-4" style="width:107%;">
      <header class="w3-container w3-red">
        <h1>Qualtrics</h1>
      </header>

      <div class="w3-container">
        <a href="../views/videoInterview.html"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p></a>
      </div>

    </div>
  </div>
  <div class="w3-container">
  <br>
  <br>
  <div class="w3-card-4" style="width:107%;">
    <header class="w3-container w3-blue">
      <h1>Domo</h1>
    </header>

    <div class="w3-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>


  </div>
  <br>
  <br>
  <div class="w3-card-4" style="width:107%;">
    <header class="w3-container w3-green">
      <h1>WSU</h1>
    </header>

    <div class="w3-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>
</div>
</div>
  </section>

  <section>



    <div class="col-sm-3 col-md-6">

    <div class="w3-container">
    <div class="w3-card-4" style="width:107%;">
      <header class="w3-container w3-red">
        <h1>Qualtrics</h1>
      </header>

      <div class="w3-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>

    </div>
  </div>
  <div class="w3-container">
  <br>
  <br>
  <div class="w3-card-4" style="width:107%;">
    <header class="w3-container w3-blue">
      <h1>Domo</h1>
    </header>

    <div class="w3-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>


  </div>
  <br>
  <br>
  <div class="w3-card-4" style="width:107%;">
    <header class="w3-container w3-green">
      <h1>WSU</h1>
    </header>

    <div class="w3-container">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>

  </div>
</div>
</div>
  </section>



  </body>
</html>
