<!DOCTYPE html>
<html lang="en">
<head>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/joblistStyles2.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html">SMART JOBS</a>
          </div>
          <img src="../images/vj.jpg" alt="" />
    </div>
  </nav>
  <div class="container-fluid">


  <div class="row">


    <div class="col-sm-3 col-md-8">
    <section>
      <h1>Software Engineer Intern - Part Time </h1>
      <h6>About Qualtrics</h6>

  <p>
  Qualtrics is a rapidly growing software as a service company backed by three of the top venture capital firms in the world, Sequoia Capital, Accel Partners and Insight Venture Partners.
  </p>
  <p>
  Whether you are building voice of customer, employee engagement, or market research programs, you can do it all on Qualtrics.
  <br>
  <br>
  Qualtrics has more than 8,000 enterprise clients worldwide, over 1,000 employees, very strong quarter-over-quarter revenue growth and notable profitability since inception. Come see why our employees and clients love being part of the Qualtrics team!
  </p>
  <br>
  <b>About the Team</b>
  <br>
  <p>
  Our team is a collection of extremely passionate engineers who are riding the cutting edge of cloud computing and web scalability.
  </p>
  <p>
  What to expect as a Software Engineer
  </p>
  <p>
  As a software engineer at Qualtrics, you should love building simple solutions to solve hard customer problems. Designing systems in an agile environment to withstand hyper growth and owning quality from end to end is a rewarding challenge and one of the reasons Qualtrics is such an exciting place to work! In addition, you will:
  </p>
  <ul>
  <li>Develop scalable, fast, robust, and simple web-based solutions to solve complex business problems</li>
  <li>Implement new features and optimize existing ones to drive maximum performance</li>
  <li>Work closely with, and incorporate feedback from other engineers, tech-ops, and product managers</li>
  <li>Attend daily stand-up meetings, collaborate with your peers, prioritize features, and work with a sense of urgency to deliver value to your customers</li>
  </ul>

  <h4>Desired Experience</h4>

  * Currently enrolled in a bachelor's degree program in Computer Science or Computer Engineering
  <br>
  * Ability to work part time during the school year
  <br>
  * Experience with Web-related technologies including HTML/CSS and JavaScript
  <br>
  * Experience with JavaScript frameworks including angular or node
  <br>
  * Experience with modern programming languages (Java, PHP, Scala)
  <br>
  * Database / Data Storage experience (SQL / MySQL)
  <br>
  * Strong level of curiosity
  <br>
  <br>
  <b>Office Perks</b>
  <br>
  * Complimentary snacks everyday
  <br>
  * Themed kitchens on every floor with lots of goodies (salty, sweet, you name it!)
  <br>
  * Office basketball hoops, shuffleboard & massage chairs
  </section>
  </div>
  <div class="col-sm-3 col-md-4">
    <br>
    <button type="button" class="btn btn-primary btn-lg">Take Sample Test</button>
    <button type="button" class="btn btn-primary btn-lg">Apply</button>
    <a href="../views/videoInterview.html"><button type="button" class="btn btn-primary btn-lg">Send Intro</button></a>


  </div>
  <br>
  <br>
  <div class="col-sm-3 col-md-4">
    <div id="video-container" style="margin-top: 25px">
      <video controls id="camera-stream" width="400" autoplay></video>
    </div>
      </div>

    </div>
      </div>




  <script src="../scripts/videoScript.js"></script>




</body>
</html>
